/SimpleJsonParser/bin
/SimpleJsonParser/bin/Debug
/SimpleJsonParser/obj
/SqlServer.Json/bin
/SqlServer.Json/bin/Debug
/SqlServer.Json/obj
/JsonParserTest/bin
/JsonParserTest/bin/Debug
/JsonParserTest/obj

/.vs
*.jfm
*.dbmdl
*.suo
