################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/JsonParserTest/bin/Debug
/JsonParserTest/obj/Debug
/SimpleJsonParser/obj/Debug
/SimpleJsonParser/bin/Debug
/.vs/config
/SqlServer.Json/obj/Debug
*.jfm
